<form>
    <fieldset>
        <h1> </h1>
        <h1>Register</h1>
      <div>
        <label for="exampleInputEmail1" class="form-label mt-4">Enter your First name:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      </div>
      <div>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Enter your Last name:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          </div>

          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Enter your Username:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          </div>

        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: johnthebaptist@gmail.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div>
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
        <small id="emailHelp" class="form-text text-muted">We wont give it away.</small>
      </div>
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Gender</label>
        <select class="form-select" id="exampleSelect1">
          <option>Choose..</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div>
        <label for="exampleInputEmail1" class="form-label mt-4">Enter your Age:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1-99">
      </div>
      <div>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Date of Birth:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: March 17, 2006">
          </div>
      </div>
      <div>
        <label for="exampleSelect2" class="form-label mt-4">Country: </label>
        <select multiple="" class="form-select" id="exampleSelect2">
            <option>Phillipines</option>
            <option>Japan</option>
            <option>Korea</option>
            <option>Singapore</option>
            <option>Thailand</option>
        </select>
      </div>

      <fieldset>
        <legend class="mt-4">Account Type</legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          <label class="form-check-label" for="optionsRadios1">
            Individual/Personal Account
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          <label class="form-check-label" for="optionsRadios2">
            Corporate/Business Account 
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          <label class="form-check-label" for="optionsRadios3">
            Partnership/Sole Proprietor Account
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend class="mt-4">Terms of Agreement</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Terms of Agreement
          </label>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>